$body-color: rgba(255, 254, 251, 0.8);
$black: #3f3f3f;
$white: #fffefb;
$gray: #b4b4b4;

$grid-big-columns: 16;
$grid-big-gap: 16px;

$container-big-size: 1440px;
$container-medium-size: 1024px;
$container-small-size: 760px;

$container-big-padding: 32px;
$container-small-padding: 32px 12px;

$transition: 0.15s;
